<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ProcSimProj.Instructions" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ProcSimProj.Instructions>
            <setting name="InstructionText" serializeAs="String">
                <value />
            </setting>
            <setting name="InstructionBinary" serializeAs="String">
                <value />
            </setting>
            <setting name="InsturctionHex" serializeAs="String">
                <value />
            </setting>
        </ProcSimProj.Instructions>
    </userSettings>
</configuration>